<!-- Form partial displays a form to create new entries and edit existing entries. Form is styled with bootstrap. -->

<%= form_for(@entry) do |f| %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %><br>
  </div>

  <div class="field form-group">
    <%= f.label :content %><br>
    <%= f.text_area :content, class: 'form-control', rows: 12 %><br>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>

<% end %>