<h2><%= @entry.title %></h2>
<h4>Created By: <%= @entry.user.first_name %> <%= @entry.user.last_name %></h4>
<h4><%= to_date(@entry.created_at) %></h4>

<p><%= @entry.content %></p>

<% if @entry.user == current_user %>
  <%= link_to "Edit Journal Entry", edit_entry_path(@entry), class: "btn btn-default" %>
  <%= link_to 'Delete Journal Entry', entry_path(@entry),
              data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-default" %>
<% end %>

<h4>Comments:</h4>
<% if @entry.comments.length > 0 %>
  <% @entry.comments.each do |comment| %>
    <%= render partial: 'comments/comment', locals: {comment: comment} %>
  <% end %>
<% else %>
  <p>There are no comments yet.</p>
<% end %>

<div class="comment-form">
  <% if current_user %>
    <%= form_for [@entry, @entry.comments.new] do |f| %>
      <%= f.text_field :content, placeholder: 'Add a comment...' %>
      <%= f.submit %>
    <% end %>
  <% end %>
</div>