<% if current_user %>
  <% if @user == current_user %>
    <%= link_to "New Journal Entry", new_entry_path, class: "btn btn-default" %>
    <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-default" %>
  <% else %>
    <% if current_user.following?(@user.id) %>
      <%= link_to "Unfollow", unfollow_user_path, method: :post, class: "btn btn-default" %><br>
    <% else %>
      <%= link_to "Follow", follow_user_path, method: :post, class: "btn btn-default" %><br>
    <% end %>
  <% end %>
<% end %>

<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<%= image_tag @user.profile_picture.url(:thumb) %>

<p><%= @user.following.length %> following <%= @user.followers.length %> followers</p><br>

<div class="row">
  <% @user.entries.each do |entry| %>
    <%= render partial: 'entries/entry', locals: {entry: entry} %>
  <% end %>
</div>