<% if @user == current_user %>
  <h2>Welcome, <%= current_user.first_name %></h2>
  <%= link_to "New Journal Entry", new_entry_path, class: "btn btn-default" %>
  <%= link_to "Edit Profile", edit_user_path, class: "btn btn-default" %>
<% else %>
  <h2><%= @user.first_name %> <%= @user.last_name %></h2>
  <% if current_user.following?(@user.id) %>
    <%= link_to "Unfollow", unfollow_user_path, method: :post, class: "btn btn-default" %><br>
  <% else %>
    <%= link_to "Follow", follow_user_path, method: :post, class: "btn btn-default" %><br>
  <% end %>
<% end %>

<p><%= @user.following.length %> following <%= @user.followers.length %> followers</p><br>

<div class="row">
  <% @user.entries.each do |entry| %>
    <%= render partial: 'entries/entry', locals: {entry: entry} %>
  <% end %>
</div>